<html xmlns:th="http://www.thymeleaf.org" xmlns:YY="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: #b3b3cc">
<div>
    <center >
        <h1 style="color:white">Your Notes</h1>
        <a style="color:green" th:href="@{/addNote}">Add New Note</a><br><br>

        <table border ="2" style="color: black">
            <tr style="color: black">
                <th><a th:href="@{'/notes/?user_id=1&sort=date&sortDir='+${checkDirection}}">Date</a></th>
                 <th><a th:href="@{'/notes/?user_id=1&sort=title&sortDir='+${checkDirection}}">Title</a></th>
                <th>Content</th>

                <th style="color:yellow">Action</th>
            </tr>
            <tr style="color:#004d00" th:each="n:${any}">
                <th th:text="${n.createdAt}"></th>
                <th th:text="${n.category.name}"></th>
                <th th:text="${n.title}"></th>
                <th th:text="${n.content}"></th>
                <th>
                    <table>
                        <tr>
                            <td><a style="color:blue" th:href="@{/updateNote/{id} (id=${n.id})}">Update</a></td>
                            <td><a style="color:red" th:href="@{/deleteNote/{id} (id=${n.id})}">Delete</a></td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
    </center>
</div>
</body>
</html>