<html xmlns:th="http://www.thymeleaf.org" xmlns:YY="http://www.w3.org/1999/xhtml">
<head>
    <title>Categories Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: #b3b3cc">
<div>
    <center >
        <h1 style="color:white">All Categories</h1>
        <a style="color:green" th:href="@{/addCategory}">Add New Category</a><br><br>

        <table border ="2" style="color: black">
            <tr style="color: black">
                <th><a th:href="@{'/categories/s/?&sortDir='+${checkDirection}}">Name</a></th>
                <th>id</th>
                <th style="color:yellow">Action</th>
            </tr>
            <tr style="color:#004d00" th:each="c:${categories}">
                <th th:text="${c.name}"></th>
                <th th:text="${c.id}"></th>

                <th>
                    <table>
                        <tr>
<!--                            <td><a style="color:blue" th:href="@{/update/{id} (id=${c.id})}">Update</a></td>-->
                            <td><a style="color:red" th:href="@{/deleteCategory/{id} (id=${c.id})}">Delete</a></td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
    </center>
</div>
</body>
</html>